@media (max-width: 767px) {
    .first_section {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .first_section-title {
        font-size: 28px;
    }
    .posts .info .name a {
        font-size: 22px;
        margin-top: 15px;
    }
    .footer_items > * {
        width: 100%;
    }
    .footer_item-title {
        font-size: 14px;
    }
    .footer_item ul li a {
        font-size: 14px;
    }
    footer .logo img {
        width: 140px;
    }
    footer .logo img {
        text-align: center;
    }
    .subscribe_text {
        font-size: 28px;
    }
    .subscribe_wrap {
        padding: 47px 7px 31px;
    }
    .first_section .info {
        margin-top: 20px;
    }


   
}


@media (max-width: 580px) {
 
    .posts .post:nth-child(2) {
        width: 100%;
    }
    .posts .post:nth-child(3) {
        width: 100%;
    }
    .posts .post:nth-child(4) {
        width: 100%;
    }
    .posts .post:nth-child(5) {
        width: 100%;
    }
    .posts .post:nth-child(6) {
        width: 100%;
    }
    .mob_header .logo img {
        width: 140px;
    }
    header {
        padding: 38px 5px;
    }
    


}
