@media (max-width: 767px) {
    .first_section {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .first_section-title {
        font-size: 28px;
    }
    .posts .info .name a {
        font-size: 22px;
        margin-top: 15px;
    }
    .footer_items > * {
        width: 100%;
    }
    .footer_item-title {
        font-size: 14px;
    }
    .footer_item ul li a {
        font-size: 14px;
    }
    footer .logo img {
        width: 140px;
        margin: 0 auto;
        display: block;
    }
    footer .logo img {
        text-align: center;
    }
    .subscribe_text {
        font-size: 28px;
    }
    .subscribe_wrap {
        padding: 47px 7px 31px;
    }
    .first_section .info {
        margin-top: 20px;
    }

    .footer_item .footer_list {
        display: none;
    }
    .footer_item.active .footer_list {
        display: block;
    }
    .footer_soc ul {
        display: flex;
    }
    .footer_item {
        border-top: 1px solid #EFEFEF;
        padding-top: 16px;
        margin-right: 0;
        margin-bottom: 0;
        padding-bottom: 6px;
    }
    .footer_item .footer_item-title {
        position: relative;
        margin-bottom: 10px;
    }
    .footer_item .footer_item-title:before {
        width: 8px;
        height: 8px;
        border-top: 1px solid #000000;
        border-right: 1px solid #000000;
        right: 20px;
        top: 4px;
        position: absolute;
        content: "";
        transform: rotate(135deg);
    }
    .footer_item.active .footer_item-title:before {
        transform: rotate(-45deg);
    }
    .footer_soc .footer_item-title:before {
        display: none;
    }
    .modal .form {
        max-width: 100%;
    }
    .modal {
        padding: 40px 30px;
    }
    .modal_title {
        font-size: 29px;
        margin-bottom: 15px;
    }
    .fancybox-slide--html {
        padding: 10px;
    }
    .text_block h2 {
        font-size: 30px;
        margin-bottom: 18px;
    }
    .information_name {
        font-size: 10px;
    }
    .information_text {
        font-size: 10px;
    }
    .text_block h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .text_block p {
        font-size: 12px;
        margin-bottom: 14px;
    }
    .text_block figure figcaption {
        font-size: 10px;
        margin-top: 12px;
    }
    .text_block figure {
        margin: 0 auto 15px;
    }
    .text_block blockquote p {
        font-size: 15px;
    }
    .text_block blockquote {
        padding-left: 13px;
    }
    .text_block ul li {
        font-size: 12px;
        padding-left: 16px;
        margin-bottom: 8px;
    }
    .text_block ul {
        margin-top: 0;
    }
    .post-page .text_block .information .link a {
        font-size: 10px;
    }
    .information_name {
        margin-bottom: 7px;
    }




   
}


@media (max-width: 580px) {
 
    .posts.home .post:nth-child(2) {
        width: 100%;
        margin-bottom: 35px;
    }
    .posts.home .post:nth-child(3) {
        width: 100%;
        margin-bottom: 35px;
    }
    .posts .post {
        width: 100%;
        margin-bottom: 35px;
    }
 
    .mob_header .logo img {
        width: 140px;
    }
    header {
        padding: 38px 5px;
    }
    


}
