@media (max-width: 1023px) {

   .mob_header
    {
        display: block;
        margin-top: 30px;  
        margin-bottom: 50px;      
    }
    .mob_menu_btn {
        display: block;
        z-index: 98;
    }

 

    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        padding: 30px;
        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;
        display: block;
    }
 

    header.show
    {
        transform: translateX(0);
    }


    header .search {
        display: none;
    }

    header .mob_scroll
    {
        display: flex;
        overflow: auto;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 0;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu > .item > a {
        border: none;
    }

    header .menu
    {
        display: block;

        width: 100%;
        margin: 0;
        padding: 50px 30px 30px;

        background: none;
    }


    header .menu .item > a
    {        
        font-size: 15px;
        line-height: 18px;
        min-height: 0;
        padding-left: 0;
        text-align: left;

        justify-content: flex-start;
    }

    header .menu .item > a:after
    {
        display: none;
    }

    header .menu .item > a span
    {
        max-width: calc(100% - 20px);
    }

    header .menu .item > a br
    {
        display: none;
    }

    header .menu .item > a .icon
    {
        color: #b98747;
    }


    header .menu .item .sub_menu,
    header .menu .item:hover .sub_menu
    {
        position: relative;
        top: 0;
        left: 0;
        display: none;
        visibility: hidden;
        width: 100%;
        padding: 0;
        pointer-events: auto;
        opacity: 1;
        border: none;
        border-radius: 3px;
        background: none;
        margin-left: 20px;
        box-shadow: none;       
    }
    header .menu .item .sub_menu a {
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize; 
        padding-top: 10px;
        padding-bottom: 10px; 
        margin-top: 0;  
        border-top: 1px solid #EFEFEF;     
    }
    header .menu .sub_menu::before {
        display: none;
    }
    header .menu .sub_menu::after {
        display: none;
    }
    header .menu .item > a.touch_link + .sub_menu.show
    {
        display: block;
        visibility: visible;
        margin-top: 0;
    }
    header .menu .item .sub_link {
        padding-bottom: 20px;
    }

    header .close
    {
        position: absolute;
        top: -8px;
        right: 0px;

        display: block;

        width: 50px;
        height: 50px;
    }

    header .close:before,
    header .close:after
    {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0;
        left: 0;
        display: block;
        width: 60%;
        height: 2px;
        margin: auto;
        content: '';
        transform: rotate(45deg);
        background: #1F3443;
    }

    header .close:after
    {
        transform: rotate(-45deg);
    }


    .posts.home .post:nth-child(1) {
        flex-direction: column;
    }
    .posts.home .post:nth-child(1) img {
        width: 100%;
    }
    .posts.home .post:nth-child(1) .thumb {
        width: 100%;
    }
    .posts.home .post:nth-child(1) .info {
        max-width: 100%;
        margin-top: 0px;
        margin-right: 0;
    }
    .posts.home .post:nth-child(1) .name {
        max-width: 100%;
    }
    .footer_items {
        flex-wrap: wrap;
    }
    .footer_items > * {
        width: calc(100%/2 - 20px);
        margin-bottom: 20px;
    }
    header .menu > .item > a:hover {
        background: none;
        color: #000;
    }
    header .menu .item {
       padding: 20px 0;
       border-top: 1px solid #EFEFEF;
    }
    header .menu .item .sub_link::before {
        width: 8px;
        height: 8px;
        border-top: 1px solid #000000 !important;
        border-right: 1px solid #000000 !important;
        right: calc(100% - 150px);
        top: -16px;
    }
    .posts.home .post:nth-child(1) {
        margin-bottom: 30px;
    }
    .posts.home .post:nth-child(1) .name a {
        font-size: 28px;
        max-width: 100%;
    }
    .posts .info .name a {
        font-size: 22px;
        margin-top: 15px;
    }
    .posts .post {
        width: calc(50% - 32px);
        margin-bottom: 58px;
        margin-left: 32px;
    }
    .posts {
        margin-bottom: 40px;
    }
    .subscribe_wrap {
        padding: 26px;
    }
    .subscribe_text {
        font-size: 35px;
    }
    .subscribe {
        margin-bottom: 50px;
    }
    .more-btn a {
        margin: 30px auto 0;
    }
    .footer_items {
        margin-bottom: 26px;
    }
    footer {
        margin-bottom: 40px;
    }

    .modal {
        padding: 50px 40px;
    }
    .modal_title {
        font-size: 38px;
        margin-bottom: 15px;
    }

    .post-page .mob_header {
        margin-bottom: 15px;
    }
    .text_block h2 {
        font-size: 40px;
    }
    .post-page_img {
        margin-bottom: 30px;
    }
    .information_name {
        margin-bottom: 12px;
    }
    .text_block h3 {
        font-size: 21px;
    }
    .text_block blockquote p {
        font-size: 30px;
    }
    .text_block ul {
        margin-top: 40px;
    }
    .text_block ul li {
        font-size: 21px;
    }
    .post-page .posts h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .post-page .posts .post {
        width: 369px;
    }
    
    
   

}