@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --bg: #fff;
    }


    .content_flex .content.bg
    {
        padding: 0;
    }



    /*------------
        Header
    ------------*/
    .mob_header.inner
    {
        border-bottom: 1px solid #ddd;
    }


    .mob_header .socials
    {
        width: 100%;
        margin-top: 5px;

        order: 3;
    }



    /*-------------
        Sidebar
    -------------*/
    aside > * + *
    {
        margin-top: 50px;
    }


    aside .block
    {
        padding: 0;
    }

    aside .block_title
    {
        margin-bottom: 20px;
    }



    aside .about_author .info
    {
        padding: 20px 0 0;
    }



    aside .subscribe form
    {
        margin: 0 -20px 0;
        padding: 20px;
    }



    aside .bets .item
    {
        width: calc(100% + 40px);
        margin: 0 -20px;
    }



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 19px;
        line-height: 25px;
    }

    .text_block h3
    {
        font-size: 17px;
        line-height: 25px;
    }



    /*-----------------------
        Mob First section
    -----------------------*/
    .mob_first_section .thumb .img
    {
        right: 0;
    }



    /*-----------
        Posts
    -----------*/
    .posts .row
    {
        margin-bottom: -50px;
    }

    .posts .row > *
    {
        margin-bottom: 50px;
    }


    .posts .post .info
    {
        padding: 15px 0 0;
    }

    .posts .post .info > *
    {
        margin-left: 0;
    }

    .posts .post .cat,
    .posts .post .name,
    .posts .post .desc
    {
        width: 100%;
    }

    .posts .post .date
    {
        margin-left: 20px;
    }


    .posts .post.big .name
    {
        font-size: 17px;
        line-height: 25px;
    }



    .posts.related .post .info
    {
        padding: 15px 0 0;
    }

    .posts.related .post .info > *
    {
        margin-left: 0;
    }

    .posts.related .post .name
    {
        line-height: 21px;

        width: 100%;
    }



    /*---------------
        Post info
    ---------------*/
    .post_info .head .post_title
    {
        font-size: 20px;
        line-height: 26px;
    }



    /*--------------
        Comments
    --------------*/
    .comments .comment .comment-body
    {
        padding-top: 10px;
    }

    .comments .comment .text_block
    {
        width: calc(100% + 70px);
        margin-top: 15px;
        margin-left: -70px;
    }

    .comments .comment .reply_link
    {
        margin-left: -70px;
    }



    /*------------
        Footer
    ------------*/



    /*-----------
        PopUp
    -----------*/
}
