@media (max-width: 1023px)
{

    .mob_header
    {
        display: block;
        margin-top: 30px;
    }


    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        padding: 30px;
        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;
    }
 

    header.show
    {
        transform: translateX(0);
    }
    header .search {
        display: none;
    }

    header .mob_scroll
    {
        display: flex;
        overflow: auto;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 0;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu > .item > a {
        border: none;
    }

    header .menu
    {
        display: block;

        width: 100%;
        margin: 0;
        padding: 50px 30px 30px;

        background: none;
    }

    header .menu .mob_title
    {
        display: block;
    }

    header .menu .item > a
    {
        color: var(--text_block);
        font-size: 13px;
        line-height: 18px;

        min-height: 0;
        padding: 8px 0;

        text-align: left;

        justify-content: flex-start;
    }

    header .menu .item > a:after
    {
        display: none;
    }

    header .menu .item > a span
    {
        max-width: calc(100% - 20px);
    }

    header .menu .item > a br
    {
        display: none;
    }

    header .menu .item > a .icon
    {
        color: #b98747;
    }


    header .menu .item .sub_menu,
    header .menu .item:hover .sub_menu
    {
        position: relative;
        top: 0;
        left: 0;

        display: none;
        visibility: hidden;

        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 20px;

        pointer-events: auto;

        opacity: 1;
        border: none;
        border-radius: 3px;
        background: #f2f0e3;
    }

    header .menu .item > a.touch_link + .sub_menu.show
    {
        display: block;
        visibility: visible;
    }


    .first_section .cont {
        flex-direction: column-reverse;
    }
    .first_section-img {
        width: 100%;
        height: auto;
    }
    .first_section .info {
        max-width: 100%;
        margin-top: 25px;
    }
    .first_section-title {
        max-width: 100%;
    }
    .footer_items {
        flex-wrap: wrap;
    }
    .footer_items > * {
        width: calc(100%/2 - 20px);
        margin-bottom: 20px;
    }
    header .menu > .item > a:hover {
        background: none;
        color: #000;
    }
    header .menu .item {
        padding-bottom: 19px;
    }
    header .menu .item .sub_link::before {
        width: 8px;
        height: 8px;
        border-top: 1px solid #000000 !important;
        border-right: 1px solid #000000 !important;
        right: calc(50% - 150px);
    }
    .first_section {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .first_section-title {
        font-size: 28px;
    }
    .posts .info .name a {
        font-size: 22px;
        margin-top: 15px;
    }
    .posts .row.posts_bottom > * {
        width: calc(50% - 32px);
        margin-bottom: 32px;
        margin-left: 32px;
    }
    .posts {
        margin-bottom: 40px;
    }
    .subscribe_wrap {
        padding: 26px;
    }
    .subscribe_text {
        font-size: 35px;
    }
    .subscribe {
        margin-bottom: 50px;
    }
    .more-btn a {
        margin: 30px auto 0;
    }
    .footer_items {
        margin-bottom: 26px;
    }
    footer {
        margin-bottom: 40px;
    }
    
    


}