/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



@font-face
{
    font-family: 'Mont';
    font-weight: 400;
    src: url('../fonts/MontBlancTrialRegular.ttf');
}

@font-face
{
    font-family: 'Mont';
    font-weight: 600;
    src: url('../fonts/MontBlancTrialRegular.ttf');
}

@font-face
{
    font-family: 'Mont';
    font-weight: 700;
    src: url('../fonts/MontBlancTrialBold.ttf');
}


/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #1F3443;
    --font_size: 15px;
    --font_size_title: 25px;
    --font_family: 'Mont', 'Arial', sans-serif;
}


::selection
{
    color: #fff;

    background: #55ac00;
}

::-moz-selection
{
    color: #fff;

    background: #55ac00;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #55ac00;
}

html.custom_scroll
{
    scrollbar-color: #55ac00 #ccc;
    scrollbar-width: thin;
}


body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    letter-spacing: .025em;

    -webkit-touch-callout: none;
}


button
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    cursor: pointer;

    border: none;
    background: none;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}







.overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}



/*------------
    Header
------------*/

header
{
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;

    width: 100%;
    margin-top: 29px;
}
header .cont {
    max-width: 1486px;
    margin-left: 76px;
    display: flex;
    align-items: center;
}
header .logo {
    margin-right: 40px;
}


header .menu 
{
    align-items: center;
    margin-top: 32px;
}




header .menu .item
{
    position: relative;
    padding-bottom: 32px;

}
header .menu .item .sub_link {
    position: relative;
    padding-right: 53px;
}
header .menu .item .sub_link::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-top: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    margin: 16px 0 0 10px;
    display: inline-block;
    transform: rotate(-45deg);
    top: 0px;
    right: 24px;
}


header .menu > .item > a
{
    font-family: 'Mont';
    font-weight: 600;
    font-size: 23px;
    line-height: 38px;
    letter-spacing: -0.04em;
    color: #1F3443; 
    background: #FFFFFF;
    border: 2px solid #1F3443;
    border-radius: 50px;
    padding: 0px 18px;
    position: relative;
    margin-right: 10px;

    display: flex;
    position: relative;


    text-decoration: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .menu > .item > a:hover {
    background: #1F3443;
    color: #FFFFFF;
}

header .menu .item .sub_link::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-top: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    margin: 18px 0 0 10px;
    display: inline-block;
    transform: rotate(-45deg);
    top: 0px;
    right: 24px;
}

header .menu .sub_menu
{
    position: absolute;
    z-index: 99;
    top: calc(100% + 32px);
    left: 100px;

    visibility: hidden;

    width: 270px;
    padding: 20px 35px 30px;

    transition: .2s linear;
    pointer-events: none;

    opacity: 0;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 1px 21px rgba(159, 166, 171, 0.2);
}


header .menu .item:hover > a.touch_link + .sub_menu
{
    top: calc(100% + 30px);

    visibility: hidden;

    opacity: 0;
}

header .menu .item:hover .sub_menu,
header .menu .item > a.touch_link + .sub_menu.show
{
    top: 100%;

    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}

header .menu > .item > a:hover::before {
    border-top: 2px solid #fff !important;
    border-right: 2px solid #fff !important;
}

header .menu .sub_menu > * + *
{
    margin-top: 15px;
}

header .menu .sub_menu a
{
    font-family: 'Mont';
    font-weight: 400;
    font-size: 22px;
    line-height: 125.5%;
    letter-spacing: -0.04em;
    
    color: #1F3443;

    position: relative;

    display: block;

    text-decoration: none;
}

header .menu .sub_menu a:hover {
    color: #43C4FF;
}
header .menu .sub_menu a:hover:before,
header .menu .sub_menu .current-menu-item a:before
{
    opacity: 1;
}




header .search {
    margin-left: auto;
}
header .search img {
    width: 35px;
    height: 35px;
}






/*-----------------
    Mob. header
-----------------*/
.mob_header
{
    display: none;
}


.mob_header .cont
{
    display: flex;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}



.mob_header .mob_menu_btn
{
    z-index: 102;

    display: flex;

    width: 46px;
    height: 34px;
    margin-right: 10px;
    margin-left: -10px;
    padding: 10px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.mob_menu_btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    transition: background .2s linear;
    background: #1F3443;
}
.mob_menu_btn span:before,
.mob_menu_btn span:after {
    position: absolute;
    top: -8px;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: .2s linear;
    background: #1F3443;
}
.mob_menu_btn span:after{
    top: 8px;
}
.mob_menu_btn.active span {
    background: transparent;
}
.mob_menu_btn.active span:before {
    top: 0;
    transform: rotate(45deg);
}
.mob_menu_btn.active span:after {
    top: 0;
    transform: rotate(-45deg);
}







/* first_section */
.first_section {
    margin-top: 55px;
    margin-bottom: 56px;
}
.first_section .cont {
    justify-content: space-between;
}
.first_section .info {
    max-width: 360px;
    width: 100%;
    margin-top: 204px;
}
.first_section-title {
    font-family: 'Mont';
    font-weight: 600;
    font-size: 35px;
    line-height: 125.5%;
    letter-spacing: -0.04em;
    color: #1F3443;
    max-width: 343px;
    margin-bottom: 11px;
}
.first_section-desc {
    font-family: 'Mont';
    font-weight: 400;
    font-size: 15px;
    line-height: 153.5%;
    letter-spacing: -0.04em;
    color: #1F3443;
    margin-bottom: 21px;
}
.link {
    display: flex;
    align-items: center;
}
.link a {
    text-decoration: none;
    font-family: 'Mont';
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    letter-spacing: -0.07em;
    color: #1F3443;
    border: 2px solid #1F3443;
    border-radius: 40px;
    padding: 3px 12px;
    display: block;
}
.link a:first-child {
    margin-right: 5px;
}
.first_section-img {
    width: 588px;
    height: 587px;
}
.first_section-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}


.posts  {
    margin-bottom: 84px;
}
.posts .row.posts_top,
.posts .row.posts_bottom {
    margin-left: -32px;
    display: flex;
}
.posts .posts_top {
    margin-bottom: 24px;
}
.posts .row.posts_top > * {
    width: calc(50% - 32px);
    margin-bottom: 32px;
    margin-left: 32px;
}
.posts .row.posts_bottom > * {
    width: calc(33.333% - 32px);
    margin-bottom: 32px;
    margin-left: 32px;
}
.posts .post .thumb
{
    position: relative;
}

.posts .post .thumb > a
{
    position: relative;

    display: block;
    overflow: hidden;
    border-radius: 7px;
    padding-bottom: 56.29%;

    background: #ddd;
}


.posts .post .thumb > a img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}
.posts .info .name a {
    display: block;
    text-decoration: none;
    font-family: 'Mont';
    font-weight: 600;
    font-size: 25px;
    line-height: 125.5%;
    letter-spacing: -0.04em;
    color: #1F3443;
    margin-top: 52px;
}
.posts .info .desc {
    font-family: 'Mont';
    font-weight: 400;
    font-size: 15px;
    line-height: 153.5%;
    letter-spacing: -0.04em;
    color: #1F3443;
    margin-top: 5px;
    margin-bottom: 18px;
}
.posts .posts_bottom .info .name a {
    margin-top: 23px;
}
.more-btn {
    margin-bottom: 40px;
}





.subscribe {
    margin-bottom: 42px;
}
.subscribe_wrap {
    padding: 55px;
    background: linear-gradient(88.83deg, #32CDFE 24.03%, #32CCFE 104.45%);
    box-shadow: 0px 4px 16px rgba(225, 225, 225, 0.5);
    border-radius: 12px;
    text-align: center;
}
.subscribe_text {
    font-family: 'Mont';
    font-weight: 700;
    font-size: 50px;
    line-height: 121.5%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    max-width: 677px;
    width: 100%;
    margin: 0 auto 23px;
}
.subscribe_link a {
    text-decoration: none;
    font-family: 'Mont';
    font-weight: 600;
    font-size: 15px;
    line-height: 144.5%;
    letter-spacing: -0.04em;
    color: #EAEAEA;  
    width: 192px;
    border: 2px solid #EAEAEA;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 10px 7px;
    margin: 0 auto;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe_link svg {
    display: block;
    margin-left: 10px;
    stroke: #EAEAEA;
    flex-shrink: 0;
}


.more-btn a {
    text-decoration: none;
    background: linear-gradient(87.21deg, #32CCFE 12.39%, #32CDFD 156.47%);
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 7px;  
    font-family: 'Mont';
    font-weight: 700;
    font-size: 15px;
    line-height: 144.5%;
    letter-spacing: -0.04em;
    color: #FFFFFF;  
    display: block;
    margin: 79px auto 0;
    padding: 12px;
    width: 192px;
    text-align: center;
}


footer {
    margin-bottom: 127px;
}
.footer_items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 113px;
}
.footer_item ul {
    list-style: none;
}
.footer_item ul li a {
    text-decoration: none;
    list-style: none;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 153.5%;
    letter-spacing: -0.04em;
    color: #1F3443;
    margin-bottom: 6px;
    display: block;
}
.footer_item-title {
    font-family: 'Mont';
    font-weight: 700;
    font-size: 18px;
    line-height: 153.5%;
    letter-spacing: -0.04em;
    color: #1F3443;
    margin-bottom: 5px;
}
.footer_item:last-child ul li {
    margin-right: 20px;
}
.footer_item:last-child ul li:last-child {
    margin-right: 0px;
}
.footer_item {
    margin-right: 15px;
}
.footer_item:last-child {
    margin-right: 0px;
}




